html {
    background-color: #E6E6FA;
    scroll-behavior: smooth;
}

.root {
    margin: auto;

    height: 100vh;
    width: 1920px;

    font-family: 'Poor Story', cursive;
}

header {
    position: fixed;
    height: 10%;
    width: 100%;

}

.fa-brands{
    cursor: pointer;
}


header>div {
    display: flex;
    justify-content: space-around;
    height: 30%;
    width: 100%;
}

header>div>ul>li:hover {
    background-color: azure;
    /* border-bottom: 5px solid gray; */
}

header:first-child {
    padding-top: 5rem;
}

header>div>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

header>div>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 25px;
    text-align: center;
    list-style-type: none;
    margin-right: 30px;
}

.header_portfolio {
    color: #2F4F4F;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

.header_title {
    color: #2F4F4F;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;

    cursor: pointer;
    /* padding-bottom: 5px; */
}

.home {
    display: block;
    /* flex-direction: column; */
    height: 50%;
    /* align-items: center; */
    padding-top: 300px;
    text-align: center;
    width: 100vw;
}

.home>:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.2rem;
    font-weight: bold;
    height: 10%;
    text-align: center;
    animation: fadein 2s steps(22), step-end infinite alternate;

    color: #A52A2A;
    margin-bottom: 20px;
}

.home>:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.2rem;
    font-weight: bold;
    height: 20%;

    text-align: center;
    animation: typing 4s steps(80), step-end infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    color: #A0522D;

    margin: 0 auto;
    /* 추가된 부분 */
}

.home_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    header {
        flex-direction: column;
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes typing {
    0% {
        width: 0;
        margin: 0 auto;
        /* 화면의 가운데 정렬 */
    }

    100% {
        width: 100%;
        margin: 0 auto;
        /* 화면의 가운데 정렬 */
    }
}

.home_LearnMore {
    margin-top: 40px;
}


.home>div {
    height: 40px;
}

.home>div>span {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
    height: 40px;

    cursor: pointer;
}

.home_LearnMore2:hover {
    background-color: #E6E6FA;
    /* border-bottom: solid gray; */
}

footer {
    text-align: center;
    height: 10%;
    width: 100vw;
}

footer>p {
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
}

footer>a {
    font-weight: bold;
}

#sec01 {
    height: 100vh;
}

#sec02 {
    height: 100vh;
}




.container_about {
    height: 100vh;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_about>:first-child {
    background-image: url("../image/desk-593327_1920.jpg");
}

.about_category1 {
    height: 10%;
    margin-left: 2rem;

    animation: fadein 1s steps(22), step-end infinite alternate;
}

.about_category1>p {
    height: 1.6rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
}

.about_category2 {
    height: 10%;
    margin-left: 2rem;

    animation: fadein 2s steps(22), step-end infinite alternate;
}

.about_category2>p {
    margin-bottom: 1rem;
    height: 1.6rem;
    font-size: large;
    font-weight: bold;
}

.about_category2>ul>li {
    list-style-type: circle;
    height: 1.6rem;
}

.about_category3 {
    height: 10%;
    margin-top: 5rem;
    margin-left: 2rem;

    animation: fadein 3s steps(22), step-end infinite alternate;
}

.about_category3>p {
    font-size: large;
    font-weight: bold;
    height: 3rem;
}

.about_category3>ul>li {
    list-style-type: circle;
    height: 1.6rem;
}


.about_category4 {
    height: 10%;

    animation: fadein 4s steps(22), step-end infinite alternate;
}

.about_category4>p {
    font-size: large;
    font-weight: bold;
    height: 3rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.study_gridContainor1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.study_gridContainor1>div {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}

.study_gridContainor2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.study_gridContainor2>div {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}

.study_gridContainor1>:nth-of-type(1) {
    background-image: url("../image/HTML.png");
    background-size: cover;
}

.study_gridContainor1>:nth-of-type(2) {
    background-image: url("../image/CSS.png");
    background-size: cover;
}

.study_gridContainor1>:nth-of-type(3) {
    background-image: url("../image/Javascript.png");
    background-size: cover;
}

.study_gridContainor1>:nth-of-type(4) {
    background-image: url("../image/React.png");
    background-size: cover;
}

.study_gridContainor1>:nth-of-type(5) {
    background-image: url("../image/JAVA.png");
    background-size: cover;
}

.study_gridContainor2>:nth-of-type(1) {
    background-image: url("../image/Spring.png");
    background-size: cover;
}

.study_gridContainor2>:nth-of-type(2) {
    background-image: url("../image/Mysql.png");
    background-size: cover;
}

.study_gridContainor2>:nth-of-type(3) {
    background-image: url("../image/OracleDatabase.png");
    background-size: cover;
}

.study_gridContainor2>:nth-of-type(4) {
    background-image: url("../image/Github.png");
    background-size: cover;
}





.container_project {
    height: 100vh;
    background-color: beige;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_project>:first-child {
    width: 70vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container_project>:last-child {
    background-image: url("../image/cup.jpg");
    background-size: cover;
}


.MVC_model {
    background-image: url("../image/Untitled.png");
    background-size: cover;
    width: 30vh;
    height: 30vh;
    margin-left: 3.2rem;
    margin-top: 10rem;
}

.MVC_model:hover {
    cursor: pointer;
}

.MVC_model::after {
    content: "MVC Model";
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    line-height: 30vh;

    font-weight: bold;
    font-size: large;
    transition: opacity 1s ease-in-out;
}

.MVC_model:hover::after {
    opacity: 1;
    visibility: visible;
}





.container_update {
    height: 100vh;
    background-color: darksalmon;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_update>div>p {
    font-size: large;
    font-weight: bold;
    height: 3rem;
    margin-top: 8rem;
    margin-left: 2rem;
}

.parent_ul {
    list-style-type: none;
    height: 1.6rem;
    font-size: large;
    font-weight: bold;
    margin-left: 1.6rem;
}


.child_ul {
    list-style-type: none;
    height: 1.6rem;
    font-weight: 400;
    margin-left: 1.6rem;
}

.container_update>:first-child {
    background-image: url(../image/business.jpg);
    background-size: cover;
}

.container_board {
    height: 100vh;
    background-color: LightYellow;

    position: static;
}


@media (max-width : 1200px) {
    .root {
        margin: auto;

        height: 100vh;
        width: 1200px;

        font-family: 'Poor Story', cursive;
    }

    .home_title {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}